{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p style="font-size: 20px">
    Welcome to NYU Marketplace. This is an online space where sellers can create postings to sell their used items. <br>
    <ul style="font-size: 20px">
        <li>
            The <a href="{{ url_for('read')}}">Item Postings</a> page shows the current existing posts on the marketplace. 
        </li>
        <li>
            The <a href="{{ url_for('create')}}">Sell an Item</a> page lets you submit your own post to the postings list. 
        </li>
    </ul>
</p>
{% endblock %}